@keyframes bounce{
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}


@keyframes right-pointer{
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
}

.right-pointer{
	animation: right-pointer 3s infinite;
	display: inline-block;
}

@keyframes subs{
  0%, 100% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(25deg);
  }
}
.zoomin p{
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;

}
.zoomin p:hover {
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  font-size: 18px;
  color: white;
 }

 @-webkit-keyframes fadeIn {
     from {opacity: 0}
     to {opacity: 1}
 }

 @keyframes fadeOut {
     from {opacity: 1}
     to {opacity: 0}
 }
