.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    padding: 0 20px;
    width: 100%;
    &--xs{
        max-width: 450px;
    }
    &--sm {
        max-width: 600px;
    }
    &--md {
        max-width: 960px;
    }
    &--lg {
        max-width: 1240px;
    }
    &--full-width {
        max-width: 100%;
        padding: 0;
    }
}
