a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    @include screen(small) {
        font-size: 58%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: $regular-font;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
    
}