$platinum: #6b5422;
$orange: #e06938;
$grey: #373435;
$grey-mid: #898989;
$grey-light: #ccc;
$gold: #c3a059;
$black: #080808;
$white : #fff;

$regular-font: 'Alegreya', 'Georgia', sans-serif;
$alternate-font: 'Alegreya SC', 'Georgia', sans-serif;
