.articles{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	//max-height: 800px;
	//overflow: scroll;
}

.article{
	text-align: left;
	margin-bottom: 60px;
	width: 100%;

  a[title]:hover:after{
		font-size:20px;
		color: red;
	}
	&:last-child{
		margin-bottom: 0;
	}

	&__img{
		background-color: #ddd;
		height: 360px;
		width: 100%;
		margin-top: 15px;
		object-fit: cover;
		object-position: center;

		.article--sm &, .article--md &{
			height: 280px;
		}
	}

	&__title{
		// font-weight: bold;
		font-size: 2.1rem;
		text-transform: uppercase;
		margin-top: 15px;
	}

	&__excerpt{
		margin-top: 15px;
		max-height: 45px;
		overflow: hidden;
	}

	&__cta{
		margin-top: 15px;
		display: inline-block;
		color: $gold;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		// font-weight: bold;
	}

	&--sm{
		width: 32%;
	}

	&--md{
		width: 65%;
	}
}
