.button{
	padding: 8px 15px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border: none;
	color: white;
	display: inline-flex;
	text-align: center;
	font-size: 1.5rem;
	font-family: $regular-font;
	background-color: $grey;
	border: 1px solid $grey;
	transition: all .3s;

	&--clear{
		background-color: transparent;
		color: inherit;
		border-color: transparent;
    &:hover{
			color: $orange;
		}
	}
	&-clear{
		background-color: transparent;
		color: inherit;
		height: 60px;
		&:hover{
			background-color: $grey;
			color: white;
			transition: .5s all;
     font-size: 1.9rem;
		}
	}
	&-grey{
		background-color: $grey;
		height: 60px;
		&:hover{
			background-color: white;
			color: black;
			transition: .5s all;
			font-size: 1.9rem;
		}
	}


	&--orange{
		background-color: $orange;
		border-color: $orange;
	}
	&--gold{
		background-color: $gold;
		border-color: $gold;
		color: $black;
	}

	&--white{
		border: 1px solid white;
		color: $black;
		background-color: white;
	}

	&--outline{
		border: 1px solid $black;
		color: $black;
		background-color: transparent;

		&:hover{
			background-color: $grey;
			color: white;
		}
	}
 &--sm{
	 font-size: 1.4rem;
	 padding: 10px 25px;
	 text-transform: uppercase;
	 font-weight: bold;
 }
	&--md{
		font-size: 1.6rem;
		padding: 12px 30px;
		text-transform: uppercase;
		font-weight: bold;
	}

	&--lg{
		font-size: 2.1rem;
		text-transform: uppercase;
		padding: 25px 45px;
	}

	&--full-width{
		width: 100%;
	}
  &--more{
		border:2px solid $grey;
		background-color : transparent;
		color: $black;
		padding: 10px 55px;
		cursor:pointer;
		&:hover{
			background: $grey;
			transition: all .3s;
		}
		&:focus{
			outline: none!important;
		}
	}
	&--no-pad{
		padding-left: 0;
		padding-right: 0;
	}

	&--pad-xs{
		padding-left: 5px;
		padding-right: 5px;
	}

	span{
		display: inline-block;
		margin-left: 10px;
	}
}
