.contact{
	display: flex;
	font-size: 1.8rem;

	&__left{
		width: 33%;
		background-color: $grey-light;
		padding: 120px 0;
		display: block;

		.container{
			max-width: 350px;
		}
	}

	&__right{
		width: 66%;
		flex-grow: 1;
		padding: 60px 0;
	}

	&__title{
		font-family: $alternate-font;
		font-size: 2.7rem;
		font-weight: bold;
	}

	&__copy{
		margin-top: 45px;
	}

	&__subtitle{
		margin-top: 60px;
	}

	&__info{
		font-weight: bold;
		margin-top: 15px;
	}

	&__icons{
		margin-left: -5px;
		margin-top: 30px;

		.footer__icon{
			border-color: $black;
		}
	}

	&__form{
		margin-top: 45px;
	}
}