.events{
  position: relative;
	border-bottom:0px solid $gold;

	&--layout{
   @include flex(space-between);
	}

	&__header{
		font-size: 2.2rem;
		font-family: $alternate-font;
		padding: 10px 15px;
    width: 15%;
    margin :0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid $gold;
}
	&__line{
		height: 1px;
		width: 45px;
		background-color: black;
		margin: auto;
	}
}


  .event{
	flex-grow: 1;
	overflow: hidden;
  width: 30%;
  padding: 30px;
  @include screen(tiny){
    width: 100%;
    padding: 10px;
  }
	&__image{
		width: 390px;
		height: 160px;
		margin-right: 100px;
		background-color: #ddd;
		object-position: center;
		object-fit: cover;
	}

	&__title{
		font-size: 2.0rem;
		margin-top: 15px;
		cursor:pointer;
	}

	&__date, &__venue{
		font-size: 1.6rem;
		margin-top: 10px;
     font-style: italic;
	}

	&__description{
		margin-top: 60px;
	}
}
