.form{
	&__field{
		padding: 8px 15px;
		font-size: 1.6rem;
		border: 1px solid $grey-light;
		border-radius: 3px;
		font-family: $regular-font;
		outline: none;
		transition: all .3s;

		&:focus{
			border-color: $platinum;
		}

		&--lg{
			padding: 15px 20px;
			width: 100%;
			font-size: 1.8rem;
		}

		&--md{
			padding: 12px 15px;
			width: 100%;
			font-size: 1.6rem;
		}
	}

	&__field-wrap{
		position: relative;
		font-size: 1.6rem;
	}

	&__icon{
		.form__field-wrap &{
			position: absolute;
			right: 15px;
			top: 11px;
			font-size: 2rem;
		}
	}

	&__group{
		margin-top: 20px;
	}

	&__label{
		margin-bottom: 5px;
		display: inline-block;
		font-size: 1.4rem;
	}

	&__bar{
		display: flex;
	}

	&__left{
		flex-grow: 1;
		padding-right: 10px;
		width: 50%;
	}

	&__right{
		flex-grow: 1;
		padding-left: 10px;
		width: 50%;
	}
&__eventSelect{
	border: 1px solid $grey-light;
padding: 12px 45px 12px 15px;
	background-color: white;
	border-radius: 3px;
	font-size: 1.4rem;
	appearance: none;
	position: relative;
	font-family: $regular-font;
	cursor:pointer;
}
	&__select{
		border: 1px solid $grey-light;
	//	padding: 12px 45px 12px 15px;
	padding: 5px 60px 5px 5px;
		background-color: white;
		border-radius: 3px;
		font-size: 1.4rem;
		appearance: none;
		position: relative;
		font-family: $regular-font;
		cursor:pointer;
	}
  &__eventSelect-wrap{
		display: inline-block;
		position: relative;
		p{
			font-size: 1.5rem;
		}
		&:after{
			position: absolute;
			content: "";
			// bottom: 18px;
			bottom: 45%;
			right: 15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 5px 0;
			border-color: $orange transparent;
			z-index: 2;
			background-image: url('img/arrow08.png') no-repeat left center;
		}
	}
	&__select-wrap{
		display: inline-block;
		position: relative;
    p{
			font-size: 1.5rem;
		}
		&:after{
			position: absolute;
			content: "";
			// bottom: 18px;
			bottom: 30%;
			right: 15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 5px 0;
			border-color: $orange transparent;
			z-index: 2;
			background-image: url('img/arrow08.png') no-repeat left center;
		}
	}
}

// .eventform{
// 	&__field{
// 		padding: 8px 15px;
// 		font-size: 1.6rem;
// 		border: 1px solid $grey-light;
// 		border-radius: 3px;
// 		font-family: $regular-font;
// 		outline: none;
// 		transition: all .3s;
//
// 		&:focus{
// 			border-color: $platinum;
// 		}
//
// 		&--lg{
// 			padding: 15px 20px;
// 			width: 100%;
// 			font-size: 1.8rem;
// 		}
//
// 		&--md{
// 			padding: 12px 15px;
// 			width: 100%;
// 			font-size: 1.6rem;
// 		}
// 	}
//
// 	&__field-wrap{
// 		position: relative;
// 		font-size: 1.6rem;
// 	}
//
// 	&__select{
// 		border: 1px solid $grey-light;
// 		padding: 12px 45px 12px 15px;
// 	//padding: 5px 60px 5px 5px;
// 		background-color: white;
// 		border-radius: 3px;
// 		font-size: 1.4rem;
// 		appearance: none;
// 		position: relative;
// 		font-family: $regular-font;
// 		cursor:pointer;
// 	}
//
// 	&__select-wrap{
// 		display: inline-block;
// 		position: relative;
//     p{
// 			font-size: 1.5rem;
// 		}
// 		&:after{
// 			position: absolute;
// 			content: "";
// 			// bottom: 18px;
// 			bottom: 45%;
// 			right: 15px;
// 			width: 0;
// 			height: 0;
// 			border-style: solid;
// 			border-width: 5px 5px 0;
// 			border-color: $orange transparent;
// 			z-index: 2;
// 			background-image: url('img/arrow08.png') no-repeat left center;
// 		}
// 	}
// }
