.header{
    background-color: $black;
    padding-top: 10px;
}

.logo{
	height: 100px;
	width: 200px;
	margin: 0 auto 20px;

	&__img{
		height: 100%;
		width: 100%;
		object-fit: contain;
		object-position: center;
		// margin: 15px 0;
	}

	@include screen(tiny){
		margin-bottom: 0;
		padding-bottom: 30px;
		height: 120px;
	}
}

.header--has-fixed-nav + div{
	margin-top: 73px;
}

.header--has-fixed-subnav + div{
	margin-top: 128px;
}

.nav{

	border-top: 1px solid $platinum;
	border-bottom: 1px solid $platinum;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: $black;
	transition: all .3s;

  @include screen(tiny){
    display: none;
  }
  @include screen(small){
    display: none;
  }
  @include screen(med-small){
    display: none;
  }
	&__item{
		text-transform: uppercase;
		color: $grey-light;
		display: inline-block;
		padding: 15px 30px;
		transition: all .3s;

		&--active{
			opacity: .4;
		}

		&:hover{
			opacity: .7;
		}
	}

	&--fixed{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
	}
}

.sub-nav{
	max-height: 0;
	pointer-events: none;
	opacity: 0;
	padding: 0;
	transition: all .3s;
	width: 100%;
	background-color: $black;

	&--fixed{
		position: fixed;
		left: 0;
		top: 54px;
		z-index: 2;
	}

	&--is-visible{
		padding: 15px 0;
		pointer-events: auto;
		max-height: none;
		opacity: 1;
	}

	&__item{
		color: $platinum;
		font-family: $alternate-font;
		font-size: 1.8rem;
		display: inline-block;
		transition: all .3s;
		position: relative;


		&:before{
			content: '';
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: $platinum;
			position: absolute;
			left: -25px;
			top: 8px;
			display: inline-block;
			margin-right: 15px;
		}

		&--active{
			// color: $grey-mid;
			opacity: .5;
		}

		&:hover{
			opacity: .7;
		}
	}
}


.mobile-menu-toggle{
	height: 42px;
	width: 50px;
	position: fixed;
	left: 20px;
	top: 20px;
	background-color: $black;
	z-index: 5;
	border: none;
	outline: none;
  cursor: pointer;
  @include screen(large){
    display: none;
  }
  @include screen(mid){
    display: none;
  }
	span{
		position: absolute;
		left: 10px;
		top: 12px;
		width: 30px;
		height: 2px;
		background-color: white;
		display: block;
		transition: all .3s;

		&:nth-child(2){
			top: 20px
		}
		&:nth-child(3){
			top: 28px
		}
	}

	&--opened{
		background-color: #161B1E;
		span{
			transform: rotate(45deg);
			top: 20px;

			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				top: 20px;
				transform: rotate(-45deg);
			}
		}
	}
}

.mobile-menu{
	position: fixed;
	height: 100%;
	width: 95%;
	top: 0;
	left: -100%;
	background-color: #161B1E;
	z-index: 4;
	transition: all .3s;

	&--opened{
		box-shadow: 15px 0 45px rgba(0,0,0,.6);
		left: 0;
	}

	&__item{
		display: block;
		padding: 20px 30px;
		color: white;
		font-size: 2.2rem;
		font-family: $alternate-font;
		opacity: .6;
    border-bottom: 1px solid $black;

		&--active{
			opacity: 1;
		}

		&:first-child{
			margin-top: 75px;
		}
	}
}


.mobile-submenu{
	margin-top: 10px;

	&__item{
		padding: 10px;
		font-size: 2.1rem;
		opacity: .5;
	}
}
