@import 'core/variables';

.services > p{
  color : $orange;
}
.layer{
  	@include flex(space-between);

 &__title{
   font-size: 3.2rem;
   padding: 5px;
   //border-bottom: 1px solid $grey;
 }
 &__line{
   height: 1px;
   width: 50px;
   background-color: $grey;
   margin: 5px;
 }
 &__left{
   background-color: $grey;
   opacity: 0.9;
   color: white;
   width:80%;
   padding-left: 50px;
   padding-right: 50px;
  .rl{
   margin-bottom: 70px;
  }
 }
 &__right{
   width:80%;
   padding-left: 5%;
 }
 .quote{
   font-size:10.4rem;
   position: relative;
  }
}
