.landing{
	text-align: center;

	&__background{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 1;
	}

	&__image, &__image-overlay{
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__image{
		background: url('../img/landing/landing.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__image-overlay{
		background-color: rgba(0,0,0,0.08);
	}

	&__content{
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 48%;
		transform: translate(-50%, -50%);
		@include screen(tiny){
		width: 95%;
	}
	@include screen(small){
	width: 95%;
}
	@include screen(med-small){
	width: 95%;
}

	}

	&__title{
		font-size: 2.7rem;
		line-height: 1;
		color: white;
		display: inline-block;
		font-family: Alegreya;
		text-transform: uppercase;
		font-weight: normal;
		padding: 20px 60px;
		border-bottom: 1px solid $platinum;
		border-top: 1px solid $platinum;

		@include screen(tiny){
	font-size: 1.5rem;
	padding: 20px;
   }
	}

	&__cta-link{
		display: inline-block;
		margin-top: 45px;
		text-transform: uppercase;
		font-family: $regular-font;
		letter-spacing: 1px;
		font-size: 1.6rem;
		padding: 7px 15px;
		position: relative;
		color: $platinum;
		font-weight: bold;
		transition: all .3s;

		&:after{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			background-color: $platinum;
			content: '';
			transition: all .3s;
			border-radius: 3px;
		}
	}

	&__cta-link:hover{

		color: white;
		z-index: 1;

		&:after{
			height: 100%;
			z-index: -1;
		}
	}

	&__logo{
		position: absolute;
		bottom: 20px;
		width: 300px;
		height: auto;
		z-index: 2;
		left: 53%;
		transform: translateX(-50%);

		@include screen(tiny){
		left:53%;
		}
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: center;
		}
		@include screen(tiny){
		width: 150px;
	 }
	}
}
