.listings{
	//max-height: 800px;
	//overflow: scroll;
}

.listing{
	height: 250px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: $grey-mid;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 30px;

	&__details{
		width: 65%;
		text-align: left;
	}
	&__img{
		width: 30%;
		background-color: #ddd;
	}
	&__title{
		font-size: 2.1rem;
		// font-weight: bold;
		margin-top: 10px;
	}

	&__subtext{
		font-style: italic;
		margin-top: 10px;
	}

	&__description{
		margin-top: 20px;
	}

	&__cta{
		margin-top: 30px;
	}
}
