.post{
  padding: 40px 0 45px;
  text-align: center;
  position: relative;

  &__layout{
   @include flex(space-between);
  }

  &__header{
    font-style: italic;
    font-size: 2.3rem;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10px;
  }

  &__title{
		font-size: 2.7rem;
		// font-weight: bold;
		margin-top: 20px;
    text-transform: uppercase;
  }
  &__sub--title{
    font-size: 1.5rem;
		// font-weight: bold;
		margin-top: 20px;
  }
  &__content{
    //position: fixed;
		//bottom: 100px;
		padding: 30px;
		background-color: rgba(0,0,0,0);
		transition: all .3s;
		color: black;
		text-align: justify;
		pointer-events: none;
		width: 80%;
    margin: auto;
    line-height: 170%;
    &--comment{
     padding :30px 0px;
      p{
        font-size: 2rem;
      //text-align: left;
      }
    }
  }
  .container{
    position: relative;
  }
  &__line{
    height: 1px;
    width: 45px;
    margin: auto;
    background-color: black;
  }
  span{
    font-weight: bold;
  }
  &__img{
    background-size:cover;
    background-position: top;
    margin: 20px auto;
    padding: 10px;
    &--md{
      width: 500px;
      height: 500px;
      border: 2px solid grey;
    }
      &--sm{
        padding: 30px;
        width: 200px;
        height: 200px;
        margin: 0px;
      }
  }
}

.layer{
  width: 100%;
  position: relative;
  &--md{
    width:20%;
    float: left;
    margin: 2.5%;
  }
}

.col-2{
  width : 35%;
  flex-grow: 1;
  margin-top : 50px;

  &__title{
     font-size: 2.2rem;
     margin-top: 40px;
     text-transform:uppercase;
     font-weight: bold;
  }

  &__date{
    font-size: 1.9rem;
    font-weight: bold;
    opacity: 0.4;
    margin-top: 15px;
    text-transform: uppercase;
  }

  &__content{
    font-size: 1.8rem;
    margin-top: 30px;
    text-align: center;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  &__more{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__image{
    width: 467px;
    height: 264px;
    //margin-right: 100px;
    background-color: #ddd;
    object-position: center;
    object-fit: cover;
  }
}

.layout{
  @include flex(space-betwwen);
  width: 50%;
  margin-left: 14%;
}

.col-3{
  flex-grow: 1;
  width: 23%;

  &__title{
    text-transform: uppercase;
    font-weight: bold;
    width: 95%;
    text-align: center;
    &:hover{
      color: $gold;
    }
  }
  &__date{
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 1.4rem;
    font-style:italic;
    margin-top:5px;
  }
  &__image{
    width: 200px;
    height: 150px;
    //margin-right: 100px;
    background-color: #ddd;
    object-position: center;
    object-fit: cover;
  }
}
