.slider{
	height: 70vh;
	background-color: $grey-mid;
	background-size:cover;
	background-position: center;
	position: relative;
	@include screen(tiny){
		margin-top:0px;
	}

}


.carousel{
	height: 100%;
	transition: all .3s;

	div{
		height: 100%;
		width: 100%;
		color: white;
		text-align: center;
		background-size: cover;
		background-position: center;
	}
	.event-carousel{
		background-position: top;
	}
}

.flickity-page-dots {
	bottom: 20px;

	.dot{
		background-color: $platinum;
		transition: all .3s;
	}
}

.section{
	padding: 45px 0 50px;
	text-align: center;
	position: relative;

	.slider &{
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.75);
		width: 100%;
	}

	&--sm{
		padding: 15px 0;
	}

	&--no-pad{
		padding: 0;
	}

	.container{
		position: relative;
	}

	&__inner{
		padding: 45px;
		border-top: 1px solid $gold;
		border-bottom: 1px solid $gold;
		font-size: 1.8rem;
		//max-height: 500px;
		//overflow-y: scroll;
    &--no-border{
			border: none;
		}
		p{
			margin-top: 20px;
		}

		strong{
			font-family: $alternate-font;
			font-weight: bold;
			//text-transform: uppercase;
		}
	}

	&__line{
		height: 1px;
		width: 45px;
		background-color: $platinum;
		margin: auto;
	}

	&__title{
		font-size: 2.7rem;
		// font-weight: bold;
		margin-top: 20px;

		.section--sm &{
			margin-top: 0;
		}

		&--sm{
			font-size: 1.6rem;
		}

		&--caps{
			text-transform: uppercase;
		}

		&--small{
			font-size: 2.1rem;
			font-weight: normal;
		}

		&--italic{
			// font-weight: normal;
			font-style: italic;
		}

		&--normal{
			font-weight: normal;
		}

		&--left{
			text-align: left;
		}
	}

	&__copy{
		font-size: 1.8rem;
		line-height: 1.6;
		margin-top: 10px;
	}

	&--black{
		background-color: $black;
		color: white;
	}

	&--grey{
		background-color: $grey-light;
		color: $grey;
	}

	&--gold{
		background-color: $gold;
	}

	&--leather-bg{
		&:before{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/textures/leather.jpg');
			background-size: contain;
			background-position: center;
			content: '';
			opacity: .08;
		}
	}

	&--company{
		// background-color: $black;
		position: relative;
		height: 440px;
		overflow: hidden;
		padding: 0;

		background-size: 74%;
		// background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;

		.gradient-bg{
			height: 100%;
			width: 75%;
			top: 0;
			right: 0;
			position: absolute;
			content: '';

			background: rgba(0,0,0,0);
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 7%, rgba(0,0,0,1) 50%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(7%, rgba(0,0,0,0.11)), color-stop(50%, rgba(0,0,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 7%, rgba(0,0,0,1) 50%);
			background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 7%, rgba(0,0,0,1) 50%);
			background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 7%, rgba(0,0,0,1) 50%);
			background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 7%, rgba(0,0,0,1) 50%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
		}
	}

	&--client-testimonials{
		height: 350px;
		padding: 0;
		direction: rtl;

		.left{
			width: 50%;
			height: 350px;
			background-color: #171717;
			padding: 30px;
			float: left;
			overflow-y: scroll;

			//overflow-x: hidden;
			::-webkit-scrollbar  {
			    width: 7px;
			}

			/* Track */
			::-webkit-scrollbar-track  {
			    background-color:$grey;
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
          background-color: $grey-light;
 			    //background: rgba(0,0,0,0.5);
					height: 10px;
			}
			::-webkit-scrollbar-thumb:window-inactive {
				background-color: $grey-light;
				height: 10px;
			}
			@include screen(tiny){
			display:none;
		}
		@include screen(small){
			display:none;
		}
		@include screen(med-small){
			display:none;
		}
		}

		.right{
			width: 50%;
			height: 100%;
			background-color: $grey-light;
			background-size: cover;
			background-position: center;
			float: left;
			@include screen(tiny){
			width: 100%;
			height: 50px;
		}
		@include screen(small){
		width: 100%;
		}
		@include screen(med-small){
		width: 100%;
		height:250px;
		}
		}
	}

	&--events{

	}

	&__left{
		text-align: left;
		color: $grey;
		line-height: 1.5;

		.section__title{
			color: $black;
		}

		.section--property &{
			width: 65%;
		}
	}

	&__right{
		text-align: left;
		// font-size: 1.4rem;

		.section--property &{
			width: 20%;
		}

		.section__title--sm{
			color: $grey-mid;
		}

		.section__list{
			margin-top: 20px;
			list-style-type: disc;
			padding-left: 20px;

			li{
				margin-top: 5px;
				color: $grey-mid;
			}
		}

	}

	&__divider{
		height: 1px;
		background-color: $platinum;
		margin-top: 20px;
	}
}

.news-strip{
	background-color: $black;
	color: white;
	padding: 15px;
	text-align: center;

	// text-wrap: none;
	// white-space: nowrap;
	// overflow-x: scroll;
}


.services{
	@include flex(space-between);

	&__line{
		height: 1px;
		width: 70%;
		border-bottom: 1px solid black;
		margin: auto;
	}
}

.service{
	background-color: $grey-light;
	height: 375px;
	width: 32%;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	cursor: pointer;

	@include screen(tiny){
	width: 100%;
	height: 60px;
  }
	@include screen(small){
	width: 100%;
	height: 60px;
  }

	p{
			 color: $orange;
	 }
   &--col-3{
		 width:30%;
		 //margin-top: 0;
	 }
	 &--col-2{
		 width: 40%;
		 margin-left: 5%;
		 margin-right: 5%;
	 }
	&--alt{
		height: 300px;
		margin: 0 10px 45px;
	}

	&__bottom{
		height: 60px;
		background-color: $gold;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		color: $black;
		font-family: $alternate-font;
		font-size: 2.1rem;
		@include flex(center);
		transition: all .3s;

		.service--alt &{
			background-color: white;
		}

		.service:hover &{
			// color: $grey-mid;
			color: $white;
		}

		@include screen(tiny){
		background-color: $black;
		color: white;
		border-bottom: 1px solid $platinum;
	  }
		@include screen(small){
		background-color: $black;
		color: white;
		border-bottom: 1px solid $platinum;
		}
	}

	&__overlay{
		position: absolute;
		bottom: -100px;
		padding: 30px;
		background-color: rgba(0,0,0,0.75);
		transition: all .3s;
		color: $white;
		text-align: center;
		opacity: 0;
		pointer-events: none;
		width: 100%;
		&--padded{
			padding: 45px 0;
		}

		.service:hover &{
			bottom: 60px;
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.subsection-wrap{
//max-height: 1000px;
//overflow: scroll;
}

.subsection{
	height: 300px;
	padding: 15px 30px;
	border-bottom: 1px solid $platinum;
	display: flex;
	overflow: hidden;

	&__left{
		width: 30%;
		height: 100%;
		// padding: 15px;
	}

	&__right{
		width: 70%;
		position: relative;
		text-align: left;
		padding-top: 70px;
	}

	&__title{
		padding: 15px 30px;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2.4rem;
		font-family: $alternate-font;
	}

	&__content{
		padding: 15px 30px;
		// marginop: 60px;
		//max-height: 140px;
		//overflow-y: scroll;
		margin-bottom: 30px;
		color: $grey-mid;
		transition: all .3s;

		&:hover{
			color: white;
		}
	}

	&__cta{
		margin-top: 45px;
		display: block;
		text-align: right;
		font-size: 1.8rem;
		color: $gold;
		text-transform: uppercase;
		// font-weight: bold;
	}
	&__more{
		font-size: 1.8rem;
		color: $gold;
		text-transform: uppercase;
	}

	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		background-color: #ddd;
	}
}

.testimonial-carousel{
	height: 230px;
	.flickity-page-dots {
		//bottom:80px;
		display: none;
	}
}
.quote-r{
	font-size: 8.0rem;
float:right;
}
.quote-l{
	font-size: 8.0rem;
	text-align: justify;
	height: 30px;
 width: 100%;
 margin-bottom: 15px;
 margin-right: 10px;
}

.testimonial{
	width: 100%;
	&__testimonials{
		text-align: center;
    max-width: 800px;
		margin: 0 auto;
	}
	&__quote{
		display:block;
 padding: 0px 15px;
 font-size: 1.9rem;
 line-height: 1.5;
 font-style: italic;
 //margin: 0 auto;
	}
	&__name{
		display: block;
		color: $orange;
		font-size: 2.4rem;
		text-align: center;
		margin-top: 20px;
		font-style: italic;
	}

	&__more{
		font-family: $alternate-font;
		font-size: 2.1rem;
		color: $grey-light;
		display: inline-block;
		transition: all .3s;
		&:hover{
			color: $gold;
		}
	}
}

.footer{
	&__form{
		margin-top: 30px;
		display: flex;
		@include screen(tiny){
		width: 100%;
	  }
	}

	.form__field{
		flex-grow: 1;
		margin-right: 5px;
		@include screen(tiny){
		width: 50%;
		}
	}

	&__contact{
		margin-top: 30px;
		color: $grey-light;
		a{
			margin: 15px;
			&:first-child{
				margin-left: 30px;
			}
		}
	}

	&__icons{
		margin-top: 30px;
	}

	&__icon{
		display: inline-block;
		margin-top: 30px;
		font-size: 1.8rem;
		height: 45px;
		width: 45px;
		line-height: 45px;
		text-align: center;
		border: 2px solid white;
		margin: 0 5px;
		border-radius: 50%;
	}

	&__copyright{
		margin-top: 30px;
		font-size: 1.4rem;
		color: $grey-mid;
	}
}


.accordion{
	position: relative;

	&__item{

		width: 100%;
		border-bottom: 1px solid $platinum;
		color: white;
		@include screen(tiny){
		width: 100%;
	}
	@include screen(small){
	width: 100%;
	}
	@include screen(med-small){
	width: 100%;
	}
	}

	&__header{
		font-size: 2.1rem;
		font-family: $alternate-font;
		line-height: 54px;
		height: 54px;
		text-align: left;
		padding-left: 15px;
		position: relative;
		cursor: pointer;

		.accordion__item--is-expanded &{
			border-bottom: 1px solid rgba(255,255,255,.2);
		}
	}

	&__icon{
		position: absolute;
		right: 15px;
		top: 0px;
		font-size: 1.6rem;
		color: $orange;
	}

	&__body{
		height: 0;
		pointer-events: none;
		opacity: 0;
		padding: 0 15px;
		transition: all .3s;
		text-align: left;

		.accordion__item--is-expanded &{
			height: auto;
			opacity: 1;
			pointer-events: auto;
			padding: 30px 15px;
		}
	}

	.section--company &{
		width: 50%;
		float: right;
		margin-top: 45px;
	}
}


.scroll-wrap{
	height: 100%;
	overflow-y: scroll;
}

.orange{
	color: $orange;
}
.white{
  color:white;
}

.modal__form{
	margin-top: 45px;
	margin-bottom: 45px;
}

.strip{
	transition: all .3s;
	&:hover{
		background-color: $platinum;
		color: white;
	}
}

.blog__heading{
	padding: 120px 90px;
	width: 50%;
}

.blog__title{
	font-size: 4.2rem;
	color: white;
	text-align: center;
}

.container--xs .button--lg{
	animation: bounce 5s infinite;
	transition: all .3s;

	&:hover{
		animation: none;
	}
}
.button--orange{
	animation: right-pointer 5s infinite;
	transition: all .3s;

}

.hide--mobile{
	@include screen(tiny){
		display: none;
	}
}


::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $grey-light;
}

.flickity-prev-next-button {
  width: 40px;
  height: 30px;
  background: transparent;
}
.flickity-prev-next-button .arrow {
  fill: rgb(129,129,129);
}
.flickity-prev-next-button.no-svg {
  color: black;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button:disabled {
  display: none;
}
.lifestyle{
  a:hover{
		border-bottom: 2px solid $grey
	}
	a:visited{
		text-decoration: none;
		border: transparent;
	}
}
.bck{
	padding:20px;
}
