.team{
	display: flex;
	// justify-content: space-between;
	flex-flow: row wrap;
}

.team-member{
	width: 24%;
	min-width: 240px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;

	&__img{
		height: 120px;
		width: 120px;
		background-color: $grey-light;
		margin: 0 auto;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		filter: grayscale(100%);
	}

	&__name{
		font-size: 1.8rem;
		margin-top: 20px;
	}

	&__post{
		font-size: 1.6rem;
		color: $grey-mid;
		margin-top: 5px;
	}
}