.u-flex{
	display: flex;
}

.u-row-wrap{
	flex-flow: row wrap;
}

.u-inline-block{
	display: inline-block;
}

.u-space-between{
	justify-content: space-between;
}

.u-space-around{
	justify-content: space-around;
}

.u-center-align{
	justify-content: center;
}

.u-vertical-align{
	align-items: center;
}
.u-text-sm{
	font-size: 1.7rem;
}

.u-text-md{
	font-size: 2.0rem;
}

.u-text-mid{
	font-size: 2.2rem;
}
.u-text-left{
	text-align: left;
}

.u-text-right{
	text-align: right;
}

.u-text-center{
	text-align: center;
}

.u-text-justify{
	text-align: justify;
}
.u-text-bold{
	font-weight: bold;
}

.u-text-normal{
	font-weight: normal;
}

.u-text-italic{
	font-style: italic;
}

.u-text-caps{
	text-transform: uppercase;
}
.u-text-opacity{
	opacity: 0.4;
}
.u-text-black{
	color : $black;
}
.u-font-alt{
	font-family: $alternate-font;
}

.u-margin-top{
	margin-top: 20px;

	&--sm{
		margin-top: 10px;
	}
  &--mid{
		margin-top:15px; 
	}
	&--md{
		margin-top: 35px;
	}

	&--lg{
		margin-top: 60px;
	}
}
.u-margin-bottom{
	margin-bottom: 20px;

	&--sm{
		margin-bottom: 15px;
	}

	&--md{
		margin-bottom: 35px;
	}

	&--lg{
		margin-bottom: 60px;
	}
}

.u-margin-right{
	margin-right: 20px;

	&--sm{
		margin-right: 10px;
	}
}

.u-full-width{
	width: 100%;
}
.u-float-right{
	float: right;
}

.u-float-left{
	float: left;
}
 .u-border{
	 border-bottom: 1px solid red;
 }
